build --compilation_mode=opt
build --spawn_strategy=local

build:debug --compilation_mode=dbg

build:windows --cxxopt=/MD
build:windows --cxxopt=/WX
build:windows --cxxopt=/experimental:external
build:windows --cxxopt=/external:Ithird-party
build:windows --cxxopt=/external:W0
build:windows --per_file_copt=chroma-renderer/.*@/W4
build:windows --per_file_copt=third-party/.*@/W0
build:windows --per_file_copt=external/.*@/W0
build:windows --cxxopt=/std:c++17
build:windows --experimental_enable_runfiles

build:linux --client_env=CC=/usr/bin/gcc-8
build:linux --client_env=CXX=/usr/bin/g++-8
build:linux --copt=-Werror
build:linux --copt=-Wall
build:linux --copt=-Wpedantic
build:linux --copt=-Wextra
build:linux --copt=-Wno-deprecated-declarations
build:linux --copt=-fdiagnostics-color=always
build:linux --per_file_copt=third-party/.*@-w
build:linux --per_file_copt=external/.*@-w
build:linux --cxxopt=-std=c++17
build:linux --cxxopt=-mavx

test --test_output=errors
test --test_arg=--gtest_color=yes