build --compilation_mode=opt
build --spawn_strategy=local
build --experimental_enable_runfiles

build:debug --compilation_mode=dbg

build:windows --cxxopt=/MD
build:windows --cxxopt=/W2
build:windows --cxxopt=/WX
build:windows --cxxopt=/experimental:external
build:windows --cxxopt=/external:Ithird_party
build:windows --cxxopt=/external:W0

build:linux --cxxopt=-w
build:linux --cxxopt=-std=c++17
build:linux --cxxopt=-mavx